image: atlassian/default-image:2

pipelines:
  default:
    - step:
        script:
          - pipe: atlassian/ssh-run:0.2.2
            variables:
              SSH_USER: 'jekyll'
              SERVER: '165.22.4.202'
              COMMAND: 'cd mundana-theme-jekyll/ && git pull origin master && JEKYLL_ENV=production bundle exec jekyll build'